

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import"./slick-slider";

// header
header{
    position:absolute;width:100%;display:flex;justify-content:space-between; z-index: 3;
    align-items:center;flex-wrap:wrap; top: 10px;
    img{width:80px; margin-left: 5%;}
    .hamburger{
        padding:20px 35px 20px 6px;position:relative;
        span{width:30px;height:3px;background:#E2251f;border-radius:20px;position:absolute;
            &:before{height: 100%;width: 100%;background-color: #E2251f;content: "";position: absolute;top:-13px;}
            &:after{height: 100%;width: 100%;background-color: #E2251f;content: "";position: absolute;top:13px;}
        }
    }
    .menu{width:100%;max-height:0;overflow: hidden;transition:700ms; z-index: 5;
        li{list-style-type: none; font-family: regular;
            a{text-decoration: none;color: white;
              padding: 20px;background-color: #e2251f;display: block;border-bottom: 1px solid grey;
              &:hover{color: #ffcb1d; text-decoration: none;}
            }
        } 
    }
    .active{
        max-height:500px;
    }
}
// end header

// banner
.banner{
    h1{font-family: regular; font-size: 35px; text-align: center; line-height: 30px; margin-top: 90%; position: absolute; z-index: 3; display: none;}
    #h{font-family: regular; font-size: 35px; text-align: center; line-height: 35px; margin-top: 90%; position: absolute; display: block; }
    .rect{width: 100%; height: 100vh; position: relative;}
    .food{width: 90%; position: absolute; top: 200px; left: 15px;}
    .btn{background-color: #E2251f; font-family: bold; font-size: 15px; color: white;
        width: 40%; border-radius: 0; position: absolute;left: 100px;
        top: 450px;
        &:hover{background-color: #eca510;}
    }
    .spoon{display: none;}
}
// end banner

.about{
    h2{font-family: bold; font-size: 25px; text-align: center; padding-top: 60px;}
    .mambo{width: 100%; position: absolute; top: 50px; margin-left: 5%; transform: rotate(45deg); display: none;}
    .cards{display: flex; flex-direction: column; justify-content: center; align-items: center; font-family: regular; text-align: center; margin-top: 5%;
        .card{border: none; margin-right: 0; box-shadow: 5px 5px 15px; position: relative; top: 150px; left: 0;height: 100%; width: 80%; border-radius: 10px; margin-top: 5%;}
        p{padding-top:20px; line-height: 20px;  font-size: 15px; padding-bottom: 40px; }
        img{width: 30%; margin-left: 35%; padding-top: 40px;}
        .car{position: absolute; top: 0; opacity: 0; background-color: whitesmoke;border-radius: 10px;
            .c{width: 30%; margin-left: 0;}
            &:hover{opacity: 1;}
        }
    }
}

// services
.services{margin-top: 65%;
    .tabContainer{
        width: 100%;
        outline: none;
        .line{position: absolute; top: 1970px; left: 25px; width: 85%;}
        .buttonContainer{
            height: 15%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;
            width: 85%; margin-left: 5%;
            #d{display: none;}
            .btn{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{width: 75%; margin-left: 5%; outline: none;}
                #v{width: 20%;}
                h3{ text-align: center; padding-top: 15px; margin-left: 35%;}
                width: 25%;
                height: 100%;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px;
                text-align: center;
            }
        }
        .tabPanel{
            margin-top: 15%;
            text-align: center;
            transform: translate(2s);
            box-sizing: border-box;
            display: none;
            .text{display: flex; flex-direction: row; color: black; justify-content: space-evenly;
                font-family: regular; font-size: 18px;
                hr{width: 10%; height: 2px;}
            }
        }
    }    
}
// end services

.m{position: relative; margin-top: 22%;
    .men{display: flex !important; background-color: #eca510; border-radius: 15px;
        .text{font-family: regular; margin-left: 5%; margin-top: 5%;
            h4{ font-size: 20px;}
            p{font-size: 18px; margin-right: 10px; padding-top: 25px; line-height: 30px;}
        }
        .img{display: flex; justify-content: center; align-items: center;
            img{border-radius: 100px; width: 70%; height: 70%}
        }
        
    }
}

// testimony
.testimony{
    background-image: url(../imgs/tale.png); height: 100vh;
}
// end testimony

@media(min-width:375px){
    // banner
.banner{
    h1{font-family: bold; font-size: 30px; text-align: center; line-height: 30px; margin-top: 90%; position: absolute; z-index: 3;}
    .rect{width: 100%; height: 100vh; position: relative;}
    .food{width: 90%; position: absolute; top: 200px; left: 15px;}
    .btn{background-color: #E2251f; font-family: bold; font-size: 18px; color: white;
        width: 40%; border-radius: 0; position: absolute;left: 120px;
        top: 520px; 
    }
}
// end banner

// about
.about{
    h2{font-family: bold; font-size: 25px; text-align: center; padding-top: 20px;}
    .mambo{width: 90%; position: absolute; top: 900px; margin-left: 5%; transform: rotate(45deg);}
}
// end about

// services
.services{margin-top: 55%;
    .tabContainer{
        .line{top: 2100px; width: 82%; left: 30px;}
        .buttonContainer{
          .btn{
              img{margin-left: 30%;}
          }
        }
          .tabPanel{margin-top: 10%;}
      }
}
// end services
}

// taste
.taste{display: none;}
// end taste

@media(min-width:768px){
    header{
        margin-top: 2%;
        .logo{width: 15%;}
        .menu{
            max-height:unset;display: flex;width:max-content;list-style:none;
            justify-content: center; align-items: center; margin-right: -2%; margin-top: 1%;
            li{font-size: 18px;
                a{
                    background:transparent;border:none;
                    color: black; padding: 10px; 
                    &:hover{color: #E2251f; text-decoration: none; border-bottom: 3px solid black;}
                }
            }
        }
        .hamburger{
            display: none;
        }
    }

    // banner
    .banner{
        h1{position: unset; font-size: 30px; line-height: 40px; text-align: start;
            margin-top: 65%; display: block;
      }
      #h{display: none;}
        .rect{height: 70vh; width: 410px; right:15px;}
        .food{width: 50%; left: 395px;}
        .btn{font-size: 25px; width:30%; left: 35px; top: 410px;}
        .spoon{display: block;position: absolute;top: 485px;left: -75px;}
    }
    // end banner

    // about
    .about{
        h2{font-family: bold; font-size: 40px; text-align: center; padding-top: 420px;}
        .mambo{width: 65%; position: absolute; top: 1070px; margin-left: -8%; transform: rotate(0); display: block;}
        .cards{display: flex; flex-direction: row; justify-content: center; align-items: center; font-family: regular; text-align: center; margin-top:5%;
            .card{border: none; margin-right: 5%; box-shadow: 5px 5px 15px; position: relative; top: 150px; left: 50px;height: 80%; width: 100%; border-radius: 10px;}
            p{padding-top:20px; line-height: 20px;  font-size: 15px; padding-bottom: 40px; }
            img{width: 20%; margin-left: 40%; padding-top: 40px;}
            .car{position: absolute; top: 0; opacity: 0; background-color: whitesmoke;border-radius: 10px;
                .c{width: 20%; margin-left: 0;}
                &:hover{opacity: 1;}
            }
        }
    }
    // end about

    // services
    .services{margin-top: 40%;
        .tabContainer{
            .line{top: 1740px; width: 85%; left: 65px;}
            .buttonContainer{
                #d{display: block;}
                .btn{
                    #v{width: 45%;}
                    img{margin-left: 40%;}
                    h3{padding-top: 30px; font-size: 20px; font-family: bold;}
                }
            }
        }
    }
    // end services

    // taste
    .taste{margin-top: 8%; text-align: center; position: relative; display: block;
        .tas{float: left;position: absolute; left: 5px; top: -180px; width: 20%;}
        h2{font-family: bold; font-size: 28px; padding-bottom: 50px;}
        img{width: 100%;}
    }
    // end taste
}

@media(min-width:992px){
    header{top: 40px;
        .menu{
            max-height:unset;display: flex;width:max-content;list-style:none; margin-right: 0;
            li{font-size: 26px;
                a{
                    background:transparent;border:none;
                    color: black;
                    &:hover{color: #E2251f; text-decoration: none; border-bottom: 3px solid black;}
                }
            }
        }
}
// banner
.banner{
    h1{font-size: 38px; line-height: 55px;margin-top: 85%; margin-left: -25px;}
    .rect{height: 70vh; width: 570px; position: relative; right: 50px;}
    .food{top: 300px; width: 50%; left: 495px;}
    .btn{font-size: 40px;width: 30%;left: 20px;top: 590px;}
    .spoon{top: 680px; left: -120px; width: 50%;}
}
// end banner

// about
.about{
    .mambo{top: 1295px; width: 65%;}
    h2{padding-top: 430px; font-size: 45px;}
    .cards{
        p{font-size: 18px;}
    }
}
// end about

// services
.services{
    .tabContainer{
        .line{top: 2130px; width: 85%; left: 80px;}
        .buttonContainer{
            #d{display: block;}
            .btn{
                #v{width: 45%;}
                img{margin-left: 40%;}
                h3{padding-top: 30px; font-size: 30px;}
            }
        }
        .tabPanel{
            p{font-size: 25px; line-height: 30px;}
        }
    }
}
// end services

// taste
.taste{
    .tas{top: -230px;}
    h2{font-size: 35px; padding-bottom: 60px;}
}
// end taste
}


@media(min-width:1200px){
    header{ top: -20px;
        .logo{width: 15%; margin-left: 5%; margin-top: 1%;}
        .menu{
            max-height:unset;display: flex;width:max-content;list-style:none;
            margin-top: 1%; margin-right: 4%;
            li{font-size: 25px;
                a{
                    background:transparent;border:none;
                    color: black; padding: 20px;
                    &:hover{color: #E2251f; text-decoration: none; border-bottom: 3px solid black;}
                }
            }
        }
}

// banner
.banner{
    .rect{width: 610px; right: 0px; height: 100vh;}
    .food{width: 40%; left: 720px; top: 140px;}
    h1{margin-top: 45%; margin-left: -50px; font-family: regular; font-size: 45px; line-height: 55px;}
    .btn{width: 20%; font-size: 35px; font-family: regular; left: 80px; top: 440px;}
    .spoon{width: 25%; left: -50px; top: 500px;}
}
// end banner

// about
.about{
    .mambo{top: 980px; width: 60%;margin-left: -160px;}
    h2{padding-top: 400px; font-size: 60px;}
    .cards{display: flex; flex-direction: row; justify-content: center; align-items: center; font-family: regular; text-align: center; margin-top: 0%;
        .card{border: none; margin-right: 5%; box-shadow: 5px 5px 15px; position: relative; top: 70px; left: 50px; height: 200px;height: 100%; width: 100%; border-radius: 10px;}
        p{padding-top:20px; line-height: 20px;  font-size: 15px; padding-bottom: 40px; }
        img{width: 40%; margin-left: 30%; padding-top: 40px;}
        .car{position: absolute; top: 0; opacity: 0; background-color: whitesmoke;border-radius: 10px;
            .c{width: 40%; margin-left: 0;}
            &:hover{opacity: 1;}
        }
    }
    #cc{margin-top: 12%;}
}
// end about

// services
.services{margin-top: 15%;
    .tabContainer{
        width: 100%;
        height: 350px;
        margin-left: 3%;
        .line{position: absolute; top: 1710px; left: 140px; width: 80%;}
        .buttonContainer{
            height: 15%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;
            width: 85%; margin-left: 5%;
            .btn{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{width: 35%; margin-left: 5%; outline: none;}
                #v{width: 20%;}
                h3{ text-align: center; padding-top: 15px; margin-left: 10%;}
                width: 25%;
                height: 100%;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px;
                text-align: center;
            }
        }
        .tabPanel{
            margin-top: 10%;
            height: 85%;
            text-align: center;
            padding-top: 105px;
            transform: translate(2s);
            box-sizing: border-box;
            font-family: sans-serif;
            font-size: 25px;
            display: none;
            .text{display: flex; flex-direction: row; color: black; justify-content: space-evenly;
                font-family: regular;
                p{line-height: 50px;}
                hr{width: 20%; height: 2px;}
            }
        }
    }
}
// end services
// menu
.m{position: relative; margin-top: 22%;
    .men{display: flex !important; background-color: #eca510; border-radius: 15px;
        .text{font-family: regular; margin-left: 5%; margin-top: 5%;
            h4{ font-size: 20px;}
            p{font-size: 18px; margin-right: 10px; padding-top: 25px; line-height: 30px;}
        }
        .img{display: flex; justify-content: center; align-items: center;
            img{border-radius: 100px; width: 70%; height: 70%}
        }
        
    }
}
// end menu

// testimony
.testimony{ margin-top: 10%; position: relative;
    .pic{display: flex; justify-content: space-between;
        .red{width: 25%; margin-top: -15%;}
        .red1{transform: rotate(80deg);}
    }
    h2{left: 480px; font-family: bold; font-size: 30px; position: absolute;top: 100px;}
    .tabContainer{background-color: white;
        .tabPanel{text-align: center;
            p{padding-left: 260px; padding-right: 260px; line-height: 30px; font-family: regular; font-size: 20px; margin-top: 5%;}
            .path{margin-top: 5%; margin-left: 45%;
                b{font-family: bold;font-size: 20px;}
            .pp{font-family: regular; color: gray; margin-top: 1%; margin-left: -6%;}
            }
        }
    //     .buttonContainer{
    //         height: 15%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;
    //         width: 85%; margin-left: 5%;
    //         .btn{
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             img{width: 35%; margin-left: 5%; outline: none;}
    //             #v{width: 20%;}
    //             h3{ text-align: center; padding-top: 15px; margin-left: 10%;}
    //             width: 25%;
    //             height: 100%;
    //             border: none;
    //             outline: none;
    //             cursor: pointer;
    //             padding: 10px;
    //             text-align: center;
    //         }
    //     }
        
    // }
    }
}
// end testimony
// taste
.taste{margin-top: 8%; text-align: center; position: relative;
    .tas{float: left;position: absolute; left: 0; top: -300px;}
    h2{font-family: bold; font-size: 35px; padding-bottom: 60px;}
}
// end taste

// news
.news{position: relative; margin-top: 8%; 
    .bg{position: absolute; left: 550px; height: 95vh;}
    .new{display: flex; justify-content: space-between; position: absolute; width: 100%;
        .path1{width: 30%; position: absolute; top: -140px; left: 990px;}
        h2{margin-left: 15%; margin-right: 50%; margin-top: 5%; font-family: bold; width: 100%; font-size: 35px; line-height: 50px;}
    }
    .slick{position: relative; top: 0px; padding-top: 250px;
        .new1{width: 100%; height: 320px;}
        h4{position: absolute;left: 110px; color: white; top: 500px; font-family: regular; font-size: 35px;}       
    }
    .arrow{position: absolute; top: 65%; left: 30px;}
    .arrow1{position: absolute; top: 65%; left: 95%;}
}
// end news

// footer
.footer{background-image: url(../imgs/Group.png); height: 80vh; background-repeat: no-repeat; margin-top: 10%; position: relative;
    .logo1{margin-top: 250px; width: 100%;}
    .pexels{ margin-top: 15%; height: 70vh;}
    .link{margin-top: 30%; text-align: start;
        .lin{display: flex; justify-content: space-between;font-family:regular; font-size: 25px; color: white;padding-bottom: 40px;}
        .text1{display: flex; justify-content: space-between;font-family:regular; font-size: 23px; color: white; padding-top: 15px;
            a{color: white; list-style-type: none; text-decoration: none;}
        }
    }
}
// end footer
}